<app-form-cms [data]="dataInfo">
  <form [formGroup]="dataInfo.form">
    <mat-form-field class="w-full mb-3">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" [maxlength]="50" />
      <mat-error>El campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Nit</mat-label>
      <input matInput formControlName="nit" [maxlength]="8" />
      <mat-error>El campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Matricula</mat-label>
      <input matInput formControlName="licensePlate" [maxlength]="8" />
      <mat-error>El campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        formControlName="tel"
        [maxlength]="8"
        appOnlyNumberInput
      />
      <mat-error>El campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email" />
      @if (dataInfo.form.get("email")!.hasError("required")) {
      <mat-error>El campo es requerido</mat-error>
      } @if (dataInfo.form.get("email")!.hasError("email")) {
      <mat-error>El correo no es válido</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" [maxlength]="250" />
      <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <app-time-range></app-time-range>
  </form>
</app-form-cms>
