<h1 class="title">
  Estaciones de
  {{ providerName }}
</h1>
<app-autocomplete-google-maps
  class="w-full"
  (changeComplete)="autoComplete($event)"
></app-autocomplete-google-maps>
<google-map
  height="70%"
  width="100%"
  [options]="options"
  (mapClick)="clickMap($event)"
  [center]="center"
  [zoom]="zoom"
>
  @for (item of this.stations; track $index) {
  <map-advanced-marker
    #markerElement="mapAdvancedMarker"
    [position]="convertLatLng(item.cord)"
    (mapClick)="openModal(item)"
  >
  </map-advanced-marker>
  }
</google-map>
